/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1.1em;
    background-color: #f0f2f5;
}

main {
    max-width: 1500px;
    min-width: 300px;
    margin: 2rem auto;
    padding: 0 1rem;
}

section {
    background-color: white;
    padding: 2em;
    border-radius: 8px;
    margin-bottom: 2em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

section h1 {
    color: #333;
    text-align: center;
    margin-bottom: 0.6em;
    font-size: 2.1em;
}

/* * Navbar */
.nav_bar {
    background-color: #4a90e2;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.nav_bar h1 {
    color: white;
    font-weight: 700;
    font-size: 2em;
    padding-left: 0.2em;
}

.nav_links {
    display: flex;
    list-style: none;
    gap: 2.5em;
    padding-right: 0.2em;
}

.nav_links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.1em;
    position: relative;
    padding: 0.4em 0.4em;
    border-radius: 6px;
    transition: background-color 0.3s ease-in-out;
}

.nav_links a::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -3.2px;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease-in-out;
    transform: translateX(-50%);
}

.nav_links a:hover::after {
    width: 90%;
}

.nav_links a:hover {
    background-color: rgba(5, 72, 172, 0.7);
}

@media (max-width: 900px) {
    .nav_bar {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav_bar nav ul {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .nav_bar nav ul li {
        margin: 0.5em;
    }  
    
    section h1 {
        text-align: center;
        font-size: 2em;
    }
}

/* * Index */
/* .welcome_section h1 {
    color: #333;
    text-align: center;
    margin-bottom: 0.6em;
    font-size: 2.1em;
} */

.welcome_section p {
    color: #666;
    font-size: 1.1em;
    margin-bottom: 1em;
    text-align: justify;
}

.featured_eb h2, h3{
    text-align: center;
}

.featured_eb p {
    text-align: justify;
}

.equipment_cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5em;
    margin-top: 2em;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    padding: 1em;
    border-radius: 10px;
    min-height: 400px;
    overflow: hidden;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: contain;
    border-radius: 10px;
}

.card h3 {
    padding: 1rem;
    color: #333;
}

.card p {
    padding: 0 1rem;
    color: #666;
    flex-grow: 1; /* Texto se ajusta al tamaño */ 
}

.card a {
    text-decoration: none;
}

.button_eb {
    display: block;
    background-color: white;
    font-size: 0.8em;
    text-align: center;
    text-decoration: none;
    color: black;
    border-radius: 10px;
    border: 1px solid #4a90e2;
    padding: 1rem;
    margin: 2em auto;
    width: 95%;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button_eb:hover {
    background-color: #4a90e2;
    color:white
}

/* * Categorias */
/* .categories_page h1 {
    margin-bottom: 0.4em;
    font-size: 2em;
} */

.categories_page p {
    margin-top: 1em;
    margin-bottom: 1em;
    text-align: justify;
}

.dropdown_container {
    position: relative;
    display: inline-block;
}

.dropdown_button {
    padding: 0.9em 3em;
    background-color: #4a90e2;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.8em;
}

.dropdown_content {
    display: none;
    position: absolute;
    background-color: white;
    font-size: 1em;
    min-width: 200px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    z-index: 1;
}

.dropdown_content a {
    color: #333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown_container:hover .dropdown_content {
    display: block;
}

.dropdown_content a:hover {
    background-color: #f1f1f1;
}


/* * Búsqueda de Equipos */
/* .search_page h1 {
    margin-bottom: 0.4em;
    font-size: 2em;
} */

.search_box {
    background-color: rgb(240, 242, 245);
    width: 90%;
    margin: 1em auto;
    border-radius: 8px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.4);
    box-sizing: border-box;
    padding: 0.5px 0 0.5em 0;
}


.search_section {
    text-align: center;
    margin-top: 1.2em;
}

.search_section h2 {
    color: #333;
    font-size: 1.5em;
    margin-bottom: 0.5em;
}

.search_section [type="text"] {
    padding: 0.8rem 1rem;
    width: 300px;
    max-width: 800px;
    border: 1px solid #ddd;
    border-radius: 10px;
    margin-right: 0.5em;
    background-image: url('../sources/search_icon.png');
    background-size: 25px 25px;
    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 40px;
    outline: none;
    transition: width 0.5s ease-in-out, border-color 0.4s ease;
}

.search_section [type="text"]:focus {
    width: 100%;
    border-color: rgba(75, 145, 226, 0.5);
}

.search_section [type="text"]::placeholder {
    font-size: 1.05em;
    font-style: italic;
}

.search_section button {
    padding: 0.8rem 2rem;
    font-size: 0.8em;
    background-color: #4a90e2;
    color: white;
    border: none;
    margin: 0.3em;
    border-radius: 8px;
    cursor: pointer;
    transition:  scale 0.4s ease;
}

.search_section button:hover {
    background-color: #3b7ab4;
    scale: 1.04;
}

.search_section button:active {
    scale: 0.96;
}

#resultados_busq {
    margin: 1em;
}

@media (max-width: 1000px) {
    .search_section [type="text"] {
        width: 190px;
    }

    .search_section [type="text"]:focus {
        width: 70%;
    }
}
/* * Recursos */



/* * LogIn */